body, html {
  padding: 0;
  margin: 0;
}

/* Let the browser scale the canvas */
.pixel_perfect {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  border: 0px;
}

/* Give canvas a proper size and pixel perfect scaling */
canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  border: 0px;
  width: 512px;
  height: 512px;
  background: black;
  /* For nice loading */
}

.centered {
  margin: 40px auto;
  width: 512px;
}